.images{
    justify-content: space-between;
    a{
        margin-left:200px;
        img{
            height: 100%;
        }
    }
}

.popup{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    .image-container {
        position: relative;
    }
    
    .icon-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 50px;
        
        .left-icon{
            margin-right: 100px;
        }
        .right-icon{
            margin-left: 100px;
        }
    }
    
}



